<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ryaker.kms-report</string>
	<key>ProgramArguments</key>
	<array>
		<string>@DEPLOY_ROOT@/bin/kms-health-report.sh</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>7</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
	<key>ProcessType</key>
	<string>Background</string>
	<key>Nice</key>
	<integer>19</integer>
	<key>LowPriorityIO</key>
	<true/>
	<key>StandardOutPath</key>
	<string>@HOME@/Library/Logs/kms-report.log</string>
	<key>StandardErrorPath</key>
	<string>@HOME@/Library/Logs/kms-report.error.log</string>
</dict>
</plist>
